p {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: 0;
  text-align: left;
  line-height: normal;
  font-family: 'Times New Roman';
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
map > area {
  outline: none;
}
.ts0 {
  font-family: Tahoma;
  font-size: 16pt;
  font-weight: bold;
}
.ts1 {
  font-family: Tahoma;
}
.ts2 {
  font-family: Tahoma;
  color: Gray;
  background-color: White;
}
.ts3 {
  font-family: Calibri;
  color: Black;
}
.ts4 {
  font-family: Calibri;
}
.ts5 {
  font-family: 'Courier New';
  color: Black;
}
.ts6 {
  font-family: Tahoma;
  font-weight: bold;
}
.ts7 {
  font-family: 'Courier New';
}
.ts8 {
  font-family: 'Courier New';
}
.ts9 {
  font-family: Calibri;
  font-weight: bold;
  color: Black;
}
.ts10 {
  font-family: Calibri;
  color: Black;
}
.ts11 {
  font-family: Calibri;
  text-decoration: underline;
  color: Blue;
}
.ts12 {
  font-family: 'Calibri CE';
  color: Black;
}
.ts13 {
  font-family: 'MS Gothic';
  color: Black;
}
.ts14 {
  font-family: 'Calibri Baltic';
  color: Black;
}
.ts15 {
  font-family: 'Malgun Gothic';
  color: Black;
}
.ts16 {
  font-family: Tahoma;
  color: Red;
}
.hs0 {
  font-family: Tahoma;
  text-decoration: underline;
  color: Gray;
  background-color: White;
}
.hs1 {
  font-family: Tahoma;
  font-size: 11pt;
  text-decoration: underline;
  color: Blue;
}
.ps0 {
  text-align: center;
}
.ps1 {
  text-align: center;
  font-size: 11pt;
}
.ps2 {
  font-size: 11pt;
}
.ps3 {
  padding-top: 2mm;
  padding-left: 1.27cm;
  text-indent: -0.64cm;
  font-size: 11pt;
}
.ps4 {
  padding-top: 1mm;
  font-size: 11pt;
}
.ps5 {
  text-align: center;
  font-size: 10pt;
}
.ps6 {
  font-size: 10pt;
}
.ps7 {
  padding-top: 2mm;
}
.ps8 {
  padding-left: 1.27cm;
  text-indent: -0.64cm;
  font-size: 10pt;
}
.ps9 {
  padding-bottom: 8pt;
  line-height: 1.07916666666667;
  font-size: 11pt;
}
.ps10 {
  padding-left: 1.27cm;
  text-indent: -0.64cm;
  font-size: 11pt;
}
.hline0 {
  width: 100%;
  height: 1px;
  margin: 8px auto;
  background-color: Silver;
  border-style: none;
}