#popup-box {
  background-color: #2191c0;
  border-color: #77d5f7;
  border-color: rgba(119,213,247,0.45);
}
#popup-box .content {
  font-family: Verdana,Arial,sans-serif;
  font-size: 13px;
}
#popup-box .message {
  color: White;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#popup-box .content a {
  color: White;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#popup-box .content a:hover {
  color: White;
  background-color: #0078ae;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#popup-box .close-icon {
  background-image: url('closeicon.png?8a27f486');
}
#popup-box .topicdoc-icon {
  background: url('docicon.png?8a27f486') no-repeat center center;
}
#sorting-popup-menu {
  background-color: #2191c0;
  background-color: rgba(33,145,192,0.94);
  border-color: #77d5f7;
  border-color: rgba(119,213,247,0.45);
}
#sorting-popup-menu li.menu-item {
  font-family: Verdana,Arial,sans-serif;
  font-size: 12px;
  color: White;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  border-bottom-color: #77d5f7;
}
#sorting-popup-menu li.menu-item.menu-item-hover {
  color: White;
  background-color: #0078ae;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#sorting-popup-menu li.menu-item.menu-item-checked span:after {
  background: url('checkmark.png?8a27f486') no-repeat 0 0;
}
#sorting-popup-menu li.menu-item.menu-item-checked.menu-item-hover span:after {
  background: url('checkmark.png?8a27f486') no-repeat 0 -8px;
}
#sort-control span.caret {
  background: url('caret.png?8a27f486') no-repeat 0 0;
}
#toc-tree ul.dynatree-container a {
  font-family: Verdana,Arial,sans-serif;
  font-size: 10pt;
  color: #222;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#toc-tree ul.dynatree-container a:hover {
  color: White;
  background-color: #0078ae;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#toc-tree ul.dynatree-container a:focus, #toc-tree span.dynatree-focused a:link {
  color: White;
  background-color: #0078ae;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#toc-tree span.dynatree-active a, #toc-tree span.dynatree-active a:hover {
  color: White !important;
  background-color: #6eac2c !important;
  text-decoration: none !important;
  font-style: normal !important;
  font-weight: normal !important;
}
#index-tree ul.dynatree-container a {
  font-family: Verdana,Arial,sans-serif;
  font-size: 10pt;
  color: #222;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#index-tree ul.dynatree-container a:hover {
  color: White;
  background-color: #0078ae;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#index-tree ul.dynatree-container a:focus, #index-tree span.dynatree-focused a:link {
  color: White;
  background-color: #0078ae;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#index-tree span.dynatree-active a, #index-tree span.dynatree-active a:hover {
  color: White !important;
  background-color: #6eac2c !important;
  text-decoration: none !important;
  font-style: normal !important;
  font-weight: normal !important;
}
#index-tree span.highlight a {
  color: #026890;
  background-color: #79c9ec;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-form {
  border-bottom-color: #79c9ec;
}
#search-result-tree ul.dynatree-container a {
  font-family: Verdana,Arial,sans-serif;
  font-size: 10pt;
  color: #222;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-result-tree ul.dynatree-container a:hover {
  color: White;
  background-color: #0078ae;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-result-tree ul.dynatree-container a:focus, #search-result-tree span.dynatree-focused a:link {
  color: White;
  background-color: #0078ae;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-result-tree span.dynatree-active a, #search-result-tree span.dynatree-active a:hover {
  color: White !important;
  background-color: #6eac2c !important;
  text-decoration: none !important;
  font-style: normal !important;
  font-weight: normal !important;
}
#search-result-tree span.visited-topic a {
  color: Gray;
  background-color: transparent;
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
}
#tabs .ui-tabs-panel {
  background: url('tab-content.png?8a27f486') repeat-x center bottom #fcfdfd;
}
.text-label {
  font-family: Verdana,Arial,sans-serif;
  font-size: 11px;
  color: #222;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-result span.se-message {
  font-family: Verdana,Arial,sans-serif;
  font-size: 11px;
  color: #222;
  background-color: transparent;
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
}
#tabs.ui-tabs .ui-tabs-nav {
  padding: 8px 0 0 4px;
}
#tabs .ui-widget-header {
  background: url('tabs-header.png?8a27f486') repeat-x center center #4f81bd;
  border-bottom-color: #4297d7;
}
.ui-tabs .ui-tabs-nav li {
  margin: 0 2px 0 0;
}
#tabs.ui-tabs .ui-tabs-nav li .ui-tabs-anchor {
  padding: 6px 6px;
}
#tabs .ui-widget-header .ui-state-default {
  background: url('tab-regular.png?8a27f486') repeat-x center center #0078ae;
  border-color: #77d5f7;
}
#tabs .ui-widget-header .ui-state-hover {
  background: url('tab-active.png?8a27f486') repeat-x center center #79c9ec;
  border-color: #448dae;
}
#tabs .ui-widget-header .ui-state-active {
  background: url('tab-selected.png?8a27f486') repeat-x center center #6eac2c;
  border-color: #acdd4a;
}
#tabs .ui-tabs-nav {
  font-family: Verdana,Arial,sans-serif;
  font-size: 11px;
}
#tabs .ui-widget-header .ui-state-default a {
  color: White;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#tabs .ui-widget-header .ui-state-hover a {
  color: #026890;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#tabs .ui-widget-header .ui-state-active a {
  color: White;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-form #squery, #tab-index #kwd-search {
  font-family: Verdana,Arial,sans-serif;
  font-size: 13px;
  color: #222;
  background-color: #f8f8f8;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  border-color: #79c9ec;
}