body {
  margin-bottom: 30px;
}
#hs-header-d {
  height: 40px;
}
#hs-content {
  top: 40px;
  margin-bottom: 30px;
}
#hs-footer {
  height: 30px;
}
#hs-splitter {
  width: 4px;
  background: none 0 0 #ddd;
}
#hs-content-h {
  background: none 0 0 #9bbb59;
  height: 100%;
  width: 100%;
  display: table;
}
#hs-wrapper-h {
  padding: 0 10px;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}
#hs-title-h {
  font-family: Verdana,Arial,sans-serif;
  font-size: 14pt;
  color: White;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#hs-content-f {
  background: none 0 0 White;
  height: 100%;
  width: 100%;
  display: table;
}
#hs-wrapper-f {
  padding: 0 10px;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}
#hs-title-f {
  font-family: Verdana,Arial,sans-serif;
  font-size: 8pt;
  color: Black;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
@media only screen and (max-width: 760px) {
  #hs-header-m {
    height: 50px;
  }
  #hs-content {
    top: 50px;
  }
  #hs-content-m {
    height: 100%;
    width: 100%;
    display: table;
    background: none 0 0 #9bbb59;
  }
  #hs-content-m > div {
    display: table-cell;
    vertical-align: middle;
  }
  #hs-area-left, #hs-area-right {
    width: 60px;
  }
  #hs-area-center {
    text-align: center;
    padding: 0 10px;
  }
  #hs-title-m {
    font-family: Tahoma,Verdana,Arial,sans-serif;
    font-size: 16pt;
    color: White;
    background-color: transparent;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
  }
  #hs-header-m #hs-menu span {
    background-color: White;
  }
}